.article{
  background-color: rgb(56, 56, 56);
  opacity: 1;
  margin-bottom: 40px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.2);
  transition: all ease .4s;
  min-width: 200px;
  max-width: 400px;
}
.article div img {
height: 350px;
width: auto;
max-width: 400px;
}
.article:hover{
    opacity: .8;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
    transform: translateY(-2%);
}

.article:nth-child(5n + 1){
    /* border:  solid 3px red ; */
    outline: 4px solid rgb(52, 52, 255);
    background-color:rgb(52, 52, 255) ;
  }

  .article:nth-child(5n + 2)  {
    outline: 4px solid rgb(255, 251, 43);
    background-color:rgb(255, 251, 43) ;
  }
  .article:nth-child(5n + 3)  {
    outline: 4px solid rgb(71, 255, 80);
    background-color:rgb(71, 255, 80) ;
  }


  .divRele{
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 600px) {
    .article{
      margin-bottom: 20px;
    }
    .article div img {
      max-width: 350px ;
    }
  }