
.search{
    padding: 30px 0;
}
.listGifs{
    columns: 5 260px;
    column-gap: 0,5em;
    margin: 10px;
}

@media (max-width: 600px) {
    .listGifs{
        columns: 3 80px;
        column-gap: 0,5em;
        margin: 10px;
    }
    
}
.divListCategority{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 2rem;
}