.sectionRelevant{
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.img{
    z-index: 100;
    position: absolute;
    width: 60px;
}

.divrev{
    display: flex;
}
.detail_title{
    margin-left: 30px;
}


@media (max-width: 600px) {
    .sectionRelevant{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
    }
    .divrev{
        width: 90%;
        display: flex;
    }
}