.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    height: 28px;
    font-size: 14px;

}
/* .search button{
    height: 34px;
    font-size: 14px;
} */
.search select{
    margin-left: 10px;
    font-size: 14px;
    height: 34px;
}

.searchButton{  
    background: -webkit-linear-gradient(#fff200, #ff00ea);  
    background: -moz-linear-gradient(#ff00ea,#fff200);  
    background: -o-linear-gradient(#fff200, #ff00ea);  
    background: linear-gradient(#fff200, #ff00ea);  
    -webkit-transition: background .3s ease;  
    -moz-transition: background .3s ease;  
    -o-transition: background .3s ease;  
    transition: background .3s ease;  
    background-size:1px 90px;   
    cursor:pointer;  
    text-decoration: none;
    font-weight: bold;
    color: black;
    height: 38px;
    font-size: 14px;
}  
.searchButton:hover{  
    background-position:10px;  
} 


.span_chat:hover{
    background-color: #bbb;
    cursor: pointer;
}

.span_name{
    margin-top: 30px;
    width: 80%;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-bottom: 1px #ccc solid;
    box-shadow: #bbb;
}
.span_name:hover{
    background-color: rgba(187, 187, 187, 0.342);
    border-radius: 10px 10px 0 0;
}

.chats{
    /* height: 266px; */
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

@media (max-width: 600px) {
    .search form{
        display: flex;
    }
    
}