.card{
    
    position: relative;
    z-index: 1;
    max-width: 280px;
    margin-bottom: 0.5em;
    border-color: #fff;
}
.card img {
    /* position: relative; */
    justify-content: center;
    object-fit: cover;
    z-index: 10;
    align-items: center;
    margin: 0;
    border-color: #fff;
    max-width: 280px;
}


.categority span{
    color: #c3c3c3;
    margin: 0 20px;
}
.categority span:hover{
    color: aliceblue;
    cursor: pointer;
}